@import "tailwindcss";
@import "tw-animate-css";
@import "highlight.js/styles/github-dark.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.59 0.14 242);
  --primary-foreground: oklch(0.98 0.01 237);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.59 0.14 242);
  --accent-foreground: oklch(0.98 0.01 237);
  --destructive: oklch(0.58 0.22 27);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.83 0.1 230);
  --chart-2: oklch(0.75 0.14 233);
  --chart-3: oklch(0.68 0.15 237);
  --chart-4: oklch(0.59 0.14 242);
  --chart-5: oklch(0.5 0.12 243);
  --radius: 0.45rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.59 0.14 242);
  --sidebar-primary-foreground: oklch(0.98 0.01 237);
  --sidebar-accent: oklch(0.59 0.14 242);
  --sidebar-accent-foreground: oklch(0.98 0.01 237);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.68 0.15 237);
  --primary-foreground: oklch(0.29 0.06 243);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.68 0.15 237);
  --accent-foreground: oklch(0.29 0.06 243);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.83 0.1 230);
  --chart-2: oklch(0.75 0.14 233);
  --chart-3: oklch(0.68 0.15 237);
  --chart-4: oklch(0.59 0.14 242);
  --chart-5: oklch(0.5 0.12 243);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.75 0.14 233);
  --sidebar-primary-foreground: oklch(0.29 0.06 243);
  --sidebar-accent: oklch(0.68 0.15 237);
  --sidebar-accent-foreground: oklch(0.29 0.06 243);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl mb-4;
  }
  h2 {
    @apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight first:mt-0 mb-2;
  }
  h3 {
    @apply scroll-m-20 text-2xl mt-4 font-semibold tracking-tight mb-2;
  }
  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight mb-2;
  }
  p {
    @apply text-lg mb-4;
  }
  a {
    @apply font-medium decoration-primary decoration-2;
  }
  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }
  pre,
  code {
    @apply my-4;
  }
  ul {
    @apply list-disc pl-4 my-2;
  }
  ol {
    @apply list-decimal pl-4 my-2;
  }
  table {
    @apply block w-max max-w-full overflow-x-auto border-collapse text-sm border my-8;
  }
  thead,
  tbody,
  tfoot {
    @apply w-max;
  }

  th {
    @apply px-4 py-2 border text-left font-semibold whitespace-nowrap;
  }
  td {
    @apply px-4 py-2 border align-middle whitespace-nowrap;
  }
  tfoot td {
    @apply font-medium;
  }
  button {
    cursor: pointer;
  }
}
